:root {
  --gray: #6a6a6a;
  --light-blue: #22d1ee;
  --dark-blue: #3d5bf1;
  --white: #ffff;
  --light-gray: #f6f4fc;
  --navy-dark-Blue: #0d153a;
  --pale-blue:#E1F3F5;
  --dark-gray:#2A2A2A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 1.5rem;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%;
}
@media screen and (max-width: 64em) {
  html {
    font-size: 59.5%;
  }
}
@media screen and (max-width: 48em) {
  html {
    font-size: 56.3%;
  }
}
@media screen and (max-width: 30em) {
  html {
    font-size: 53.1%;
  }
}
@media screen and (max-width: 23em) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 17.5em) {
  html {
    font-size: 40%;
  }
}

.display {
  display: none;
}

.center-container {
  margin: 0 auto;
  max-width: 124rem;
  padding: 0 5rem;
}
@media screen and (max-width: 23em) {
  .center-container {
    padding: 0 2rem;
  }
}

.grid {
  display: grid;
  -moz-column-gap: 8rem;
       column-gap: 8rem;
  row-gap: 2rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.btn {
  font-size: 2rem;
  font-weight: 700;
  border: none;
  display: block;
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 1rem 2.5rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

@media screen and (max-width: 48em) {
  .d-none-tab {
    display: none;
  }
}

.nav-bar {
  display: flex;
  height: 8rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo-brand {
  color: var(--light-blue);
  font-size: 3.3rem;
  font-weight: 600;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 70rem;
  padding: 0 3rem;
}
@media screen and (max-width: 48em) {
  .nav-links {
    display: none;
  }
}

.nav-links a {
  color: var(--gray);
}

.nav-links a:active {
  color: var(--light-blue);
}

.nav-translator {
  color: var(--light-blue);
}

.navbar-brand {
  color: var(--light-blue);
}

.nav-links li {
  position: relative;
  overflow: hidden;
}

.nav-links a::before {
  content: "";
  display: inline-block;
  height: 4px;
  width: 0%;
  background-color: var(--light-blue);
  position: absolute;
  bottom: -8%;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.nav-links a:hover::before,
.nav-links a:hover {
  width: 100%;
}

.tablet-toggler {
  border: transparent !important;
  outline: none;
}

.display {
  display: none;
}

.hero-bg-container {
  background-image: url(/img/hero-img.png);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 4rem;
}

.grid-4-cols--hero {
  align-items: center;
  grid-template-columns: min-content 1fr min-content min-content;
  gap: 20px;
}
@media screen and (max-width: 48em) {
  .grid-4-cols--hero {
    display: none;
  }
}

.btn-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.3rem;
  width: 14rem;
  gap: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  color: var(--gray);
  background-color: var(--white);
}

.btn-hero:hover {
  background-color: var(--white);
}

.hero-form {
  height: 5.2rem;
  padding: 2rem 5rem;
}

input.hero-form::-moz-placeholder {
  font-size: 2rem;
  font-weight: 500;
  color: #cacaca;
}

input.hero-form::placeholder {
  font-size: 2rem;
  font-weight: 500;
  color: #cacaca;
}

.hero-form-container {
  position: relative;
}

.hero-form-container input {
  width: 100%;
  border-radius: 8px;
  outline: none;
  border: none;
}

.hero-search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: -50%;
  left: 3%;
}

.category-icon {
  height: 1.8rem;
}

.category-icon span {
  font-size: 1.3rem;
  font-weight: 600;
}

.hero-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 15px 14px 15px;
  background-color: var(--white);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.shopping-cart {
  position: relative;
}

.shopping-cart span {
  position: absolute;
  transform: translateY();
  top: -25%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--light-blue);
  color: var(--white);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translatey();
  -moz-transform: translatey();
  -ms-transform: translatey();
  -o-transform: translatey();
}

.hero-shopping-icon {
  height: 5rem;
}

.login {
  display: flex;
  gap: 10px;
  width: 30%;
  align-items: center;
}

.login-details p,
.login-details span {
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 600;
  white-space: nowrap;
}

.login-details p {
  font-size: 2rem;
}

.offer-card-container {
  padding: 5rem 0;
  gap: 2rem;
}
@media screen and (max-width: 48em) {
  .offer-card-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 0;
    padding-bottom: 5rem;
  }
}

.card--hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--white);
  height: 20rem;
  font-weight: 28rem;
  border-radius: 16px;
  background-color: var(--light-gray);
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.card--hero p {
  font-size: 2rem;
  font-weight: 700;
}

.card--hero--canva {
  background-color: var(--light-blue);
  color: var(--white);
}

.tablet-nav--container {
  padding-top: 5rem;
  align-self: center !important;
  justify-self: center !important;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tablet-nav--container a {
  font-size: 1.7rem;
  color: var(--white);
}
.tablet-nav--container a:hover {
  color: var(--light-blue);
}

.tab-register {
  align-self: center !important;
  justify-self: center !important;
  display: flex;
  gap: 2rem;
  padding-top: 3rem;
}
.tab-register a {
  color: var(--white);
  padding: 1rem 2rem;
  background-color: var(--dark-blue);
  font-size: 2rem;
  border-radius: 16px;
}

.Best-selling-product-bg-container {
  background-color: var(--pale-blue);
}
.Best-selling-product-bg-container h2,
.Best-selling-product-bg-container span {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--dark-gray);
}
.Best-selling-product-bg-container h2 span {
  color: #353737;
  margin-left: 5px;
}
.Best-selling-product-bg-container h2 {
  padding-top: 3rem;
}
.Best-selling-product-bg-container__inner__card {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background-color: var(--white);
  height: 28.6rem;
  width: 33rem;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
@media screen and (max-width: 23em) {
  .Best-selling-product-bg-container__inner__card {
    width: 100%;
  }
}
.Best-selling-product-bg-container__inner__card__discount-off {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 13.5rem;
  background-color: var(--dark-blue);
  color: var(--white);
  border-radius: 16px 0px 0px 0px;
  -webkit-border-radius: 16px 0px 0px 0px;
  -moz-border-radius: 16px 0px 0px 0px;
  -ms-border-radius: 16px 0px 0px 0px;
  -o-border-radius: 16px 0px 0px 0px;
}
.Best-selling-product-bg-container__inner__card__discount-off span {
  font-size: 1.3rem;
  color: var(--white);
  font-weight: 600;
}
.Best-selling-product-bg-container__inner__card-item {
  display: flex;
  padding: 0 2rem;
  gap: 5px;
}
@media screen and (max-width: 23em) {
  .Best-selling-product-bg-container__inner__card-item {
    padding: 0 1rem;
    gap: 2px;
  }
}
.Best-selling-product-bg-container__inner__card-item--right {
  align-self: center;
}
.Best-selling-product-bg-container__inner__card-item--left {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  gap: 8px;
}
.Best-selling-product-bg-container__inner__card-item--left h2 {
  font-size: 2.2rem;
  color: #2a2a2a;
  white-space: nowrap;
}
.Best-selling-product-bg-container__inner__card-item--left p {
  font-size: 1.4rem;
  color: var(--gray);
}
.Best-selling-product-bg-container__inner__card-item--left span {
  font-size: 2.4rem;
  color: var(--light-blue);
}
.Best-selling-product-bg-container__inner__card-item--left__rating {
  display: flex;
  align-items: center;
  gap: 5px;
}
.Best-selling-product-bg-container__inner__card-item--left__rating__star {
  font-size: 2.4rem;
  display: flex;
}
.Best-selling-product-bg-container__inner__card-item--left__rating p {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--dark-gray);
}
.Best-selling-product-bg-container__inner__card-item--left__rating p span {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--gray);
}

.card-container {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  justify-items: start;
}

.Best-selling-product-bg-container--top-product {
  background-color: var(--white);
}

.Best-selling-product-bg-container__inner__card--top-product-card {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.netflix-packages-section-container {
  background-color: var(--white);
}
@media screen and (max-width: 64em) {
  .netflix-packages-section-container {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 30em) {
  .netflix-packages-section-container {
    padding: 0 2rem;
  }
}
.netflix-packages-section-container h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--dark-gray);
  text-align: center;
}
.netflix-packages-section-container__card-container__item {
  background-color: var(--light-gray);
  width: 50rem;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  border-radius: 16px;
}
.netflix-packages-section-container__card-container__item img {
  width: 50%;
}
.netflix-packages-section-container__card-container__item p {
  font-size: 2rem;
  font-weight: 600;
  line-height: 4rem;
}
.netflix-packages-section-container__card-container__item span {
  font-size: 2.4rem;
  color: var(--light-blue);
  line-height: 7rem;
  font-weight: 600;
}
.netflix-packages-section-container__card-container__item__content {
  display: flex;
  align-self: center;
  flex-direction: column;
}

.netflix-packages-section-container__card-container {
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}
@media screen and (max-width: 23em) {
  .netflix-packages-section-container__card-container {
    padding: 2rem 0;
  }
}

.btn--netflix {
  align-self: start;
}

.active-promotions-section-container {
  background-color: var(--white);
}
@media screen and (max-width: 48em) {
  .active-promotions-section-container {
    padding: 0 2rem;
  }
}
.active-promotions-section-container h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--dark-gray);
}
.active-promotions-section-container__gallery-container {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 0.5fr);
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 15px;
}
@media screen and (max-width: 48em) {
  .active-promotions-section-container__gallery-container {
    font-size: 1rem;
    gap: 10px;
  }
}
@media screen and (max-width: 30em) {
  .active-promotions-section-container__gallery-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
.active-promotions-section-container__gallery-container figure {
  margin: 0;
}
.active-promotions-section-container__gallery-container figure img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.active-promotions-section-container__gallery-container figure:nth-child(2) {
  background-image: url(/img/phone.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  grid-row: auto/span 2;
}
@media screen and (max-width: 30em) {
  .active-promotions-section-container__gallery-container figure:nth-child(2) {
    grid-row: auto;
  }
}
.active-promotions-section-container__gallery-container__middle-image {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
}
@media screen and (max-width: 30em) {
  .active-promotions-section-container__gallery-container__middle-image {
    padding: 5.5rem;
  }
}
.active-promotions-section-container__gallery-container .globe {
  align-self: end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--gray);
  padding: 2rem;
  height: 30rem;
  text-align: center;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.active-promotions-section-container__gallery-container .globe--2 {
  grid-column: 3/-1;
}
@media screen and (max-width: 30em) {
  .active-promotions-section-container__gallery-container .globe--2 {
    grid-columns: auto;
  }
}

.btn--secondary {
  color: var(--light-blue);
  background-color: var(--white);
}
@media screen and (max-width: 48em) {
  .btn--secondary {
    font-size: 1.2rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 48em) {
  .email-subcribe-section-container {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 30em) {
  .email-subcribe-section-container {
    padding: 0;
  }
}
.email-subcribe-section-container__inner {
  background-color: var(--light-blue);
  height: 20.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
@media screen and (max-width: 64em) {
  .email-subcribe-section-container__inner {
    gap: 0.5rem;
    padding: 2rem;
  }
}
@media screen and (max-width: 30em) {
  .email-subcribe-section-container__inner {
    flex-direction: column;
    background-color: var(--navy-dark-Blue);
    width: 100%;
    height: auto;
    border-radius: 0px;
    gap: 20px;
    align-items: center;
    padding: 0;
  }
}
.email-subcribe-section-container__inner--left {
  width: 50%;
}
@media screen and (max-width: 30em) {
  .email-subcribe-section-container__inner--left {
    width: 100%;
    text-align: center;
    padding-top: 5rem;
  }
}
.email-subcribe-section-container__inner--left h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 50px;
  color: var(--white);
}
.email-subcribe-section-container__inner--left p {
  font-size: 2rem;
  font-weight: 400;
  color: var(--white);
}
.email-subcribe-section-container__inner--right {
  display: flex;
  gap: 1rem;
  width: 50%;
  flex-wrap: wrap;
  justify-content: start;
}
@media screen and (max-width: 30em) {
  .email-subcribe-section-container__inner--right {
    width: 80%;
    flex-direction: column;
  }
}
.email-subcribe-section-container__inner--right form {
  position: relative;
}
.email-subcribe-section-container__inner--right form input {
  width: 25%;
  background-color: transparent;
  height: 5.2rem;
  width: 32.1rem;
  outline: none;
  border: solid 2px white;
  padding: 1rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
@media screen and (max-width: 64em) {
  .email-subcribe-section-container__inner--right form input {
    width: 20.1rem;
  }
}
@media screen and (max-width: 30em) {
  .email-subcribe-section-container__inner--right form input {
    width: 100%;
  }
}
.email-subcribe-section-container__inner--right form input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.email-subcribe-section-container__inner--right form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.email-subcribe-section-container__inner--right form label {
  padding: 0.1rem;
  z-index: 100;
  background-color: var(--light-blue);
  color: var(--white);
  position: absolute;
  top: -20%;
  left: 5%;
}
@media screen and (max-width: 30em) {
  .email-subcribe-section-container__inner--right form label {
    background-color: var(--navy-dark-Blue);
  }
}
.email-subcribe-section-container .btn--secondary--email {
  padding: 1rem 2.5rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
@media screen and (max-width: 30em) {
  .email-subcribe-section-container .btn--secondary--email {
    color: var(--navy-dark-Blue);
    align-self: center;
  }
}

.footer-section-container {
  position: relative;
  z-index: -10000000;
  margin-top: -10rem;
  background-color: var(--navy-dark-Blue);
  color: var(--white);
}
@media screen and (max-width: 30em) {
  .footer-section-container {
    margin-top: -1rem;
  }
}
.footer-section-container_inner {
  padding: 20rem 2rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
  justify-content: space-around;
}
@media screen and (max-width: 30em) {
  .footer-section-container_inner {
    width: 90%;
    flex-direction: column;
    align-items: start;
    text-align: start;
    gap: 30px;
    padding: 1rem 0 1rem;
  }
}
.footer-section-container_inner__container {
  padding: 5rem 0 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 23%;
}
@media screen and (max-width: 30em) {
  .footer-section-container_inner__container {
    width: 100%;
    align-items: start;
    padding: 0rem;
  }
}
.footer-section-container_inner__container div {
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--white);
}
.footer-section-container_inner__container .footer-link-heading {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--white);
}
@media screen and (max-width: 48em) {
  .footer-section-container_inner__container .footer-link-heading {
    font-size: 2rem;
  }
}
@media screen and (max-width: 30em) {
  .footer-section-container_inner__container .footer-link-heading {
    font-size: 3rem;
  }
}
.footer-section-container_inner__container .link-list-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 3rem;
}
.footer-section-container_inner__container .link-list-item a {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--white);
}
.footer-section-container__footer-links {
  margin-right: auto;
  justify-self: flex-start;
}
@media screen and (max-width: 30em) {
  .footer-section-container__footer-links {
    display: none;
  }
}
.footer-section-container__footer-links .link-list-item {
  display: flex;
  justify-content: start;
  gap: 15px;
  padding-bottom: 3.5rem;
}/*# sourceMappingURL=style.css.map */