.email-subcribe-section-container{
        margin: 0 auto;
        padding: 0 5rem;
        max-width: 124rem;
    &__inner{
        background-color: var(--light-blue);
        height:20.5rem;
        display:flex;
        align-items: center;
        justify-content: center;
        padding:3rem;
        border-radius: 16px;
         -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
        &--left{
            width:50%;
            & h2{
                font-size: 4rem;
                font-weight:700;
                line-height: 50px;
                color:var(--white);
            }
            & p{
                font-size: 2rem;
                font-weight:400;
                line-height: 50px;
                color:var(--white);
            }
        }
        &--right{
            display: flex;
            gap:1rem;
            width:50%;
            flex-wrap:wrap;
            justify-content:start;
            & form input{
                width:25%;
                position: relative;
                background-color: transparent;
                height:5.2rem;
                width:32.1rem;
                outline:none;
                border:solid 2px #ffff;
                padding:1rem;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
            }
            & form input::placeholder{
                color:rgb(255, 255, 255,0.5);
            }
            & form label{
                height:1rem;
                width:1rem;
                z-index: 100;
                background-color: var(--light-blue);
                color:var(--white);
                position: relative;
                top:-50%;
                left:15%;
            }
        }
    }
}

.btn--secondary--email{
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}

