:root {
  --gray: #6a6a6a;
  --light-blue: #22d1ee;
  --dark-blue: #3d5bf1;
  --white: #ffff;
  --light-gray: #f6f4fc;
  --navy-dark-Blue: #0d153a;
  --pale-blue:#E1F3F5;
  --dark-gray:#2A2A2A;
}

// /* Clash Display
// Urbanist
// 600
// 16px
// 19.2px */
